.venv/
__pycache__/
*.pyc

PlantVillage_Source/

dataset/
dataset_backup_15class/
dataset_global/

uploads/
reports/

*.db
*.sqlite
*.sqlite3

tomato.jpeg

.vscode/
.idea/

*.pyproj
models/plant_model.pth
models/plant_model_15class_backup.pth
models/plant_model_38class_old.pth
